<div class="container">
  <p>
    Welcome to the Nereo Material library demo site. You will find here a demonstration of how the components will look like. 
    To see the code of this demo site and learn how to use the library you can check its <a href="https://github.com/nereolopez/nereo-material-demo">github project</a>. 
    If you want to see the code and documentation for the library itself, you cand find it in its <a href="https://github.com/nereolopez/nereo-material">repo in github as well</a>.
  </p>

  <h2>Available Components</h2>

  <div class="cards-container" fxLayoutGap="30px">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Contextual Toolbar</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.io/design/assets/1sej9Nb4bY284xcA-oF5k_mgyTMxWN_2q/topappbars-contextual.png" alt="Contextual Action Bar">
      <mat-card-content>
        <p>
          Contextual toolbar allows you to overlay the main toolbar with one that is context-aware. Just bind it so that it knows how many items are being selected and what actions should be Available
          for the user.
        </p>

        <p>
          You can read more about this Material Design component intent in the <a href="https://material.io/design/components/app-bars-top.html#usage">official documentation</a>.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/contextual-toolbar">DEMO</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Banner</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1yplLRKqW6EKB6hjVFGt-gJnPpdEJrPFV%2Fbanners-imagery.png" alt="Banner">
      <mat-card-content>
        <p>
          The Banner is the proper way to notify the user in a non intrusive way when the message has medium priority only and the user action is optional. Despite that, it requires user dismissal.
        </p>

        <p>
          You can read more about this Material Design component intent in the <a href="https://material.io/design/components/banners.html#">official documentation</a>.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/banner">DEMO</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Backdrop</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1eErd0lw7i8gnPvQcc-aLLzbtyJu_8xPs%2Felements-01.png" alt="Backdrop">
      <mat-card-content>
        <p>
          The Backdrop is for placing controls that can modify the presented content. It becomes the shell itself, so it won't work inside a Sidenav for instance.
          You can see the code in Github to learn how to use it.
        </p>

        <p>
          You can read more about this Material Design component intent in the <a href="https://material.io/design/components/backdrop.html#">official documentation</a>.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="openBackdropCode()">SEE CODE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Speed Dial</mat-card-title>
      </mat-card-header>
      <video mat-card-image autoplay loop src="https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1CMssxsx--CjFfG_JIw35cPRhxJldwRWM%2Ffab-toolbar-speeddial-v03.mp4" alt="Speed Dial"></video>
      <mat-card-content>
        <p>
          When you press a FAB, you can get 3 to 6 related actions in the form of a <b>Speed Dial</b>. By using this component, you can assign the icon and text that each of the mini FABs will have.
        </p>
        <p>
          You can read more about this Material Design component intent in the <a href="https://material.io/design/components/buttons-floating-action-button.html#types-of-transitions">official documentation</a>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/speed-dial">DEMO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
